* {
    font-size: 20px;
  }
  .formContainer{
    background-image: url('../images/3d-illustration-pen-putting-blue-ticks-paper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .addTaskForm {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 80px auto;
    padding: 20px;
  }
 
  .taskname, .Description, .deadline {
    margin-top: 10px;
    margin-left: 100px;
    background-color: #ffffff;
    height: 45px;
    width: 350px;
    padding-left: 25px;
    border-radius: 5px;
    border: 2px solid #4b13b3; /* Explicitly set border color and width */
    outline: none;
    color: #000000f3;
    box-shadow: 0px 4px 4px 0px rgba(131, 131, 131, 0.25);
    transition: scale 1s ease; /* Updated for smoother effect */
}

  
  .taskname::placeholder, .Description::placeholder, .deadline {
    color: #616161f3;
  }
  
  .taskname:hover, .Description:hover, .deadline:hover {
    scale: 1.02;
    
  }
  
  .inputaddtask {
    display: block;
    color: #000000f3;
    margin-left: 100px;
  }
  
  .priority {
    margin-left: 75px;
  }
  #basic{
    margin-left: 100px;
  }
  
  .priority input {
    margin-right: 10px;
  }
  
  .addtasksubmit {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 50px;
    background-color: #4b13b3;
    border: none;
    cursor: pointer;
    color: #fffffff3;
    box-shadow: 0px 4px 4px 0px rgba(58, 58, 58, 0.25);
    border-radius: 5px;
  }
  
  .fieldsetaddtask {
    margin-top: -40px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.137); /* Semi-transparent white */
    backdrop-filter: blur(40px); /* Adds a blur to the background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    border: 1px solid rgba(155, 98, 98, 0.3); /* Light border for outline */
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .taskname, .Description, .deadline, .priority input {
    margin-left: 5px;
    }
  
    .inputaddtask, .addtasksubmit {
      width: 100%;
      text-align: center;
      margin: 20px 0;
    }

    .priority {
      margin-left: 50px; 
    }
  
    #basic {
      margin-left: 20px; 
    }
  }
  