.addTaskBtnposDash{
margin-top: 50px;
margin-left: 100px;
}
.das-container1{
    display: flex;
}
.calenderDash{
    margin-left: 80px;
    margin-top: 60px;
    width: 300px;
}
.das-container2{
    display: flex;
    column-gap: 30px;
}
.underlinecross1{
    border: none;
    border-left: 1px solid rgb(197, 197, 197);
    margin-top: 0px;
    margin-left: 0px;
}
.taskPos{
    margin-top: 55px;
}