* {
  box-sizing: border-box;
}

.heading{
  margin-left: -100px;
  margin-top: -50px;
}
.TaskIcon{
  height: 50px;
  width: 50px;
}
.signup-container {
  background-color: white;
  max-width: 600px;
  max-height: 800px;
  margin: 100px auto;
  margin-right: 0px;
  padding: 30px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black; 
}

.formStyle{
  padding: 0px 40px 40px 40px ;
  margin-top: -40px;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: -2px;
  font-weight: bold;
  color: #26306e; 
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none; /* Remove all borders */
  border-bottom: 2px solid #5521B4; /* Add bottom border only */
  box-sizing: border-box;
  color: black;
  outline: none; /* Remove default focus outline */
}


.signupbtn{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #653cb1;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signupbtn:hover {
  background-color: #4b13b3;
}

p {
  text-align: center;
  color: rgb(0, 0, 0); 
  font-weight: bold;
}
.alreadyLogin {
  position: relative;
  font-size: 15px;
  margin-top: 20px;
  color: #26306e;
  cursor: pointer;
}

.alreadyLogin::after {
  content: "";
  position: absolute;
  bottom: -4px; 
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #26306e;
  transition: width 0.3s ease, left 0.3s ease;
}

.alreadyLogin:hover::after {
  width: 44%;
  left: 28%;
}

.login{
  text-decoration: none;
}
@media (max-width: 768px) {
  .signup-container {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
  }

  button {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .signup-container {
    width: 95%;
    margin: 10px auto;
    padding: 10px;
  }

  button {
    font-size: 14px;
    padding: 8px;
  }
}
