.con1, .con2, .con3 {
  display: flex;
  align-items: center; 
  column-gap: 10px; 
}

.green, .yellow, .blue {
  width: 20px;
  height: 20px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.para {
  margin-top: 0px;
}


@media (max-width: 1200px) {
  .con1, .con2, .con3 {
      column-gap: 8px;
  }

  .green, .yellow, .blue {
      width: 18px;
      height: 18px;
  }
}

@media (max-width: 768px) {
  .con1, .con2, .con3 {
      flex-wrap: nowrap; 
      column-gap: 6px;
  }

  .green, .yellow, .blue {
      width: 16px;
      height: 16px;
  }
}

@media (max-width: 480px) {
  .con1, .con2, .con3 {
      flex-wrap: nowrap; 
      column-gap: 4px;
  }

  .green, .yellow, .blue {
      width: 14px;
      height: 14px;
  }

  .para {
      margin-top: 5px;
  }
}
