body{
    background: rgb(235,248,254);
    background: linear-gradient(45deg, hsla(197, 94%, 51%, 1) 0%, hsla(348, 84%, 55%, 1) 100%);
    background-size: 100% 100%;
    height: 100vh;
    overflow: hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}